div {
    text-align: center;
}

.logo {
    width: 60px;
    margin-left: 20px;
}

.nav-item {
    margin: 5px;
}

.navbar {
    background-color: #c70101;
}

/* För att enklare se hur stora divs är, !!TA BORT INNAN INLÄMMNING!! */
/* div {
    border: solid 1px;
} */